@import '../../../../styles/customMediaQueries.css';

.root {
}

@media screen and (max-width: 480px) {
    .root {
        padding-left: 20px;
        padding-right: 20px;
    }
} 

.mBottom{
    margin-bottom: 120px;
}

.bgWhite{
    background-color: white;
}

.txtLabel{
    font-weight: bold;
    font-size: 1.4rem;
}

.btnStart{
    width: 120px;
}

.link-class {
    text-decoration: none;
}

.txtTab{
    background-color: aliceblue;
}

.Tabs {
    display: flex;
    flex-direction: column;
    padding: 60px 40px 60px 40px;
}

.Tabs .nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.Tabs .nav li {
    margin-right: 60px;
    cursor: pointer;
    font-size: 24px;
}

.Tabs .nav li.active {
    font-weight: bold;
    color: #77bb41;
    border-bottom: 4px solid #77bb41;
}

.Tabs .outlet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Tabs .column {
    flex: 1;
    padding: 40px 15px 20px 10px;
    min-width: 200px;
}
  
.Tabs .column > div {
    margin-bottom: 20px; /* Adjust spacing between items */
}