@import '../../../../styles/customMediaQueries.css';

.root {
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
}

.txtLabel{
    font-weight: bold;
    font-size: 1.4rem;
}

.btnStart{
    width: 120px;
}

.link-class {
    text-decoration: none;
}
/* 
@media screen and (max-width: 768px) {
    .txtLabel {
        font-weight: bold;
        font-size: 1.5rem;
    }
}*/
  
/* @media screen and (max-width: 480px) {
    .btnStart{
        width: 120px;
        margin-left: 0px;
    }
}  */

  
.txtTab{
    background-color: aliceblue;
}

.Tabs {
    display: flex;
    flex-direction: column;
}

.Tabs .nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.Tabs .nav li {
    margin-right: 30px;
    cursor: pointer;
    font-size: 24px;
}

.Tabs .nav li.active {
    font-weight: bold;
    color: #77bb41;
    border-bottom: 4px solid #77bb41;
}

.Tabs .outlet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Tabs .column {
    flex: 1;
    padding: 40px 10px 20px 10px;
    min-width: 200px;
}
  
.Tabs .column > div {
    margin-bottom: 20px; /* Adjust spacing between items */
}